<a href="https://colab.research.google.com/github/bhaski2003/io14__Understanding_ML_ALGOs/blob/main/Copy_of_PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
cost=5000
n=29
c_person=200
total=n*c_person
profit=total-cost
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= 12
#complete this area
if num%2==0 and num%3==0:
  print("no. is divisible by 2 and 3")
elif num%2==0:
  print("no. is divisible by 2")
elif num%3==0:
  print("no. is divisible by 3")

no. is divisible by 2 and 3

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
str="ANTIESTABLISHMENTARIANISTICALLY"
cnt=0
for i in str:
  if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
    cnt=cnt+1
print("no of vowels in the string is= ",cnt)

no of vowels in the string is=  12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
l=['apple','orange','pear']
#iterate over the list and find the name of the fruit which has the smallest word length
min=0
for i in l:
  x=len(i)
  if x<min:
    min=x
    smallest_word=i
print("the word having the smallest length is:",i)
# append a vegetable to your existing list
l.append('onion')
print(l)
# find the size of your list
print("size of the list is:",len(l))
# add enough fruits such that your list size if greater that 4
l.append('jackfruit')
print(l)
# delete the 2nd fruit(1st index) from your list:
l.pop(1)
print(l)
# add your name in the 4th position of the list (3rd index)
l.insert(3,'SIRI')
print(l)

the word having the smallest length is: pear
['apple', 'orange', 'pear', 'onion']
size of the list is: 4
['apple', 'orange', 'pear', 'onion', 'jackfruit']
['apple', 'pear', 'onion', 'jackfruit']
['apple', 'pear', 'onion', 'SIRI', 'jackfruit']

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 
abd=(10,20,30,40,50,'a','abcd',1.55)
#print the type of each value in the tuple
for i in abd:
  print(type(i))
#try to change the second value in your tuple to "Caterpillar"
x=list(abd)
x[1]="Caterpillar"
abd=tuple(x)
print(abd)
# print the last element of the tuple without using the length of the tuple
print(abd[-1])
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...
print(abd[::-1])#prints in reverse order
print(abd[1:])#prints from the 2nd element/or the 1st index
print(abd[:-1])#prints all the elements except the last element(i.e.2nd parameter is the last index(which is not included)) 
print(abd[-2:])#prints from the last 2nd index till the end of the string
print(abd[:5])#prints from 0th index to the 4th index
#sort vs sorted function: find the difference in the form of a program:
#sort function sorts the original sequence of the datatype itself(and does not return anything), 
#while sorted function returns a sorted list and does not affect the original datatype
x=[5,3,4,1,2]
print(sorted(x))
print(x)#when this statement is executed, we see that the original tuple(datatype) has not been changed
x.sort()
print(x)#here we see that the datatype itself has been sorted

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
(10, 'Caterpillar', 30, 40, 50, 'a', 'abcd', 1.55)
1.55
(1.55, 'abcd', 'a', 50, 40, 30, 'Caterpillar', 10)
('Caterpillar', 30, 40, 50, 'a', 'abcd', 1.55)
(10, 'Caterpillar', 30, 40, 50, 'a', 'abcd')
('abcd', 1.55)
(10, 'Caterpillar', 30, 40, 50)
[1, 2, 3, 4, 5]
[5, 3, 4, 1, 2]
[1, 2, 3, 4, 5]

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
str="rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
x=set(str.split())
print(x)

{'macha', 'bob', 'lol', 'ffs', 'sweet16', 'rofl', 'candid', 'anime', 'ootd', 'happyhours', 'asap', 'fun'}

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      if i in freq:
        freq[i]+=1
      else:
        freq[i]=1
    print(freq)
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !